[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "batchLLM"]
	path = batchLLM
	url = https://github.com/dylanpieper/batchllm
[submodule "hellmer"]
	path = hellmer
	url = https://github.com/dylanpieper/hellmer
